.about-program {
  position: relative;
  width: 100%;
  margin: -11px auto 0;
  padding: 0 0 92px;
  box-sizing: border-box;
  text-align: center;
  background: url("../img/bg-about_program_map-desktop@1x.png") center bottom no-repeat;
  background-size: 100%;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background: url("../img/bg-about_program_map-desktop@2x.png") center bottom no-repeat;
    background-size: 100%;
  }
}

.about-program h2 {
  margin: 0 0 24px;
  padding: 0;
  font-family: "Montserrat", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 49px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #1fc0fc;
}

.about-program p {
  width: 690px;
  margin: 0 auto 48px;
  padding: 0;
  box-sizing: border-box;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 29px;
  color: #484848;
}

.about-program__picture-wrapper {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

.about-program__play-button {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -58%);
  width: 64px;
  height: 64px;
  padding: 0;
  background-color: white;
  border: none;
  border-radius: 50%;

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 96px;
    height: 96px;
    background-color: white;
    opacity: 0.32;
    border-radius: 50%;
    cursor: pointer;
  }

  &:hover {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05);
  }

  &:hover svg {
    fill: #63d3fd;
  }

  &:active {
    background: #f4f4f4;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05);
  }

  &:active svg {
    fill: #1fc0fc;
  }
}

.about-program__play-button svg {
  fill: #1fc0fc;
  transform: translate(2px, 1px);
}

@media (max-width: 900px) {
  .about-program__picture-wrapper img {
    width: 320px;
    height: 224px;
  }
}

@media (min-width: 1500px) {
  .about-program {
    padding-top: 20px;
  }
}

@media (max-width: $mobile-width-only) {
  .about-program {
    margin: -5px auto 0;
    padding: 0 0 69px;
    box-sizing: border-box;
    background: url("../img/bg-about_program_map-mobile@1x.png") center no-repeat;
    background-size: 100%;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background: url("../img/bg-about_program_map-mobile@2x.png") center no-repeat;
      background-size: 100%;
    }
  }

  .about-program h2 {
    font-size: 32px;
    line-height: 39px;

    @media (min-width: 400px) {
      padding-top: 30px;
    }
  }

  .about-program p {
    width: 90%;
    font-size: 16px;
    line-height: 26px;
    text-align: left;
  }

  .about-program__play-button {
    width: 53.33px;
    height: 53.33px;
    transform: translate(-50%, -39%);

    &::after {
      width: 80px;
      height: 80px;
    }
  }

  .about-program__play-button svg {
    width: 12.5px;
    height: 18.53px;
  }
}
