.programs {
  width: 100%;
  margin: 0 auto;
  padding: 104px 0 10px;
  box-sizing: border-box;
  background: url("../img/bg-programs_city-desktop@1x.png") right 34% no-repeat;
  background-size: 49.78%;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background: url("../img/bg-programs_city-desktop@2x.png") right 34% no-repeat;
    background-size: 49.78%;
  }
}

.programs__tabs-wrapper {
  display: flex;
  flex-wrap: wrap;
  max-width: 946px;
  margin: 0 auto;
}

.programs h2 {
  width: 100%;
  margin: 0 0 67px;
  font-family: "Montserrat", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 49px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #1fc0fc;
}

.programs__nav {
  margin: 0 3.8% 0 0;
}

.programs__nav .swiper-wrapper {
  display: block;
  width: 228px;
}

.programs__nav .swiper-slide {
  width: auto;
  height: auto;
}

.programs__nav-link {
  position: relative;
  display: block;
  width: 200px;
  margin: 0 0 4px;
  padding: 24px 0 26px 73px;
  box-sizing: border-box;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  text-align: left;
  color: #484848;
  background-color: transparent;
  border: none;
  opacity: 0.87;

  &::before {
    position: absolute;
    content: "";
    top: 16px;
    left: 20px;
    width: 36px;
    height: 36px;
  }

  &:hover,
  &:focus {
    color: #ffc341;
    outline: none;
    cursor: pointer;

    &::before {
      filter: invert(73%) sepia(32%) saturate(1037%) hue-rotate(340deg) brightness(112%) contrast(101%);
    }
  }

  &:active {
    outline: none;
  }
}

.programs__nav-link--star::before {
  background: url("../img/icon_programs_star_black.png") center no-repeat;
}

.programs__nav-link--hat::before {
  background: url("../img/icon_programs_hat_black.png") center no-repeat;
}

.programs__nav-link--bag::before {
  background: url("../img/icon_programs_bag_black.png") center no-repeat;
}

.programs__nav-link--hand::before {
  background: url("../img/icon_programs_hand_black.png") center no-repeat;
}

.programs__nav-link--menorah::before {
  background: url("../img/icon_programs_menorah_black.png") center no-repeat;
}

.programs__nav-link--active {
  position: relative;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-transform: lowercase;
  font-variant: small-caps;
  color: #ffffff;
  opacity: 1;
  overflow: visible;
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.12);
  background: linear-gradient(108.42deg, #ffc341 20.46%, #ffd701 65.31%);

  &::before {
    filter: invert(100%);
  }

  &::after {
    position: absolute;
    z-index: 1;
    content: "";
    top: 0;
    right: -62px;
    border: 35px solid transparent;
    border-left: 28px solid #ffd701;
  }

  &:hover,
  &:focus {
    color: #ffffff;

    &::before {
      filter: invert(100%);
    }
  }
}

.programs__item {
  display: none;
}

.programs__item--active {
  display: block;
}

.programs--nojs .programs__item {
  display: block;
}

.programs--nojs .programs__nav {
  width: 100%;
}

.programs--nojs .swiper-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
}

.programs--nojs .programs__nav-link {
  width: auto;

  &:hover,
  &:focus {
    color: #484848;
    opacity: 0.87;
    cursor: default;

    &::before {
      filter: none;
    }
  }
}

.programs--nojs .programs__nav-link--active {
  position: relative;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  text-transform: none;
  font-variant: normal;
  color: #484848;
  opacity: 0.87;
  text-shadow: none;
  background: none;

  &::before {
    filter: invert(0);
  }

  &::after {
    border: none;
    border-left: none;
  }

  &:hover,
  &:focus {
    color: #484848;
    opacity: 0.87;
    cursor: default;

    &::before {
      filter: none;
    }
  }
}

.programs__content {
  width: 608px;
  margin: 0;
  padding: 16px 28px;
  box-sizing: border-box;
}

.programs__content h3 {
  margin: 0 0 24px;
  font-family: "Montserrat", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 34px;
  letter-spacing: -0.02em;
  color: #1fc0fc;
}

.programs__content p {
  margin: 0 0 15px;
  padding: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 26px;
  color: #484848;
  opacity: 0.87;
}

@media (max-width: $tablet-width-only) {
  .programs__tabs-wrapper {
    padding-left: 25px;
  }

  .programs h2 {
    text-align: center;
  }

  .programs__content {
    width: 60%;
  }
}

@media (max-width: $mobile-width-only) {
  .programs {
    width: 100%;
    padding: 8px 0 12px;
    background: url("../img/bg-programs_city-mobile@1x.png") right 35% no-repeat;
    background-size: 92.5%;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background: url("../img/bg-programs_city-mobile@2x.png") right 35% no-repeat;
      background-size: 92.5%;
    }
  }

  .programs h2 {
    margin: 0 0 16px;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
  }

  .programs__tabs-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding: 0;
  }

  .programs__nav {
    width: 100%;
    overflow: hidden;
    margin: 0 0 32px;
    padding: 0;
  }

  .programs__nav .swiper-wrapper {
    display: flex;
    width: auto;
  }

  .programs__nav-link {
    width: auto;
    margin: 0 4px 0 0;
    padding: 15px 10px 14px 52px;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    text-transform: none;
    font-variant: normal;
    color: #484848;
    opacity: 0.87;
    border-radius: 60.6704px;

    &::before {
      position: absolute;
      content: "";
      top: 8px;
      left: 12px;
      width: 30px;
      height: 32px;
      filter: invert(64%) sepia(0%) saturate(2%) hue-rotate(55deg) brightness(94%) contrast(96%);
    }

    &:hover,
    &:focus {
      color: #484848;
      opacity: 0.87;
      cursor: none;

      &::before {
        filter: none;
      }
    }
  }

  .programs__nav-link--active {
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    text-transform: none;
    font-variant: normal;
    color: #484848;
    opacity: 0.87;
    background: none;

    &::before {
      filter: invert(64%) sepia(0%) saturate(2%) hue-rotate(55deg) brightness(94%) contrast(96%);
    }

    &::after {
      border: none;
      border-left: none;
    }
  }

  .programs__item {
    display: block;
  }

  .programs__content {
    width: 100%;
    margin: 0 auto;
    padding: 0;
  }

  .programs__content h3 {
    margin: 0 0 17px 16px;
    font-size: 24px;
    line-height: 29px;
  }

  .programs__content p {
    width: 100%;
    padding: 0 5%;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 22px;
  }

  .programs--nojs .swiper-wrapper {
    justify-content: center;
    margin: 0 auto;
  }

  .programs--nojs .programs__nav-link {
    &::before {
      filter: none;
    }
  }

  // СЛАЙДЕР

  .programs .swiper-container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }


  .programs__nav .swiper-slide {
    width: auto;
  }

  .swiper-slide-thumb-active button {
    position: relative;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-transform: lowercase;
    font-variant: small-caps;
    color: #ffffff;
    opacity: 1;
    text-shadow: 0 1px 4px rgba(0, 0, 0, 0.12);
    background: linear-gradient(108.42deg, #ffc341 20.46%, #ffd701 65.31%);

    &::before {
      filter: invert(100%);
    }

    &:hover,
    &:focus {
      color: #ffffff;

      &::before {
        filter: invert(100%);
      }
    }
  }
}
