.want-go {
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  background: url("../img/bg-want_to_go_backpack-desktop@1x.png") left 40% no-repeat;
  background-size: 10.76%;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background: url("../img/bg-want_to_go_backpack-desktop@2x.png") left 40% no-repeat;
    background-size: 10.76%;
  }
}

.want-go__wrapper {
  max-width: 1366px;
  margin: 0 auto;
  padding: 209px 0 123px;
  background: url("../img/bg-want_to_go_girl_flag-desktop@1x.png") right center no-repeat;
  background-size: 59.88%;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background: url("../img/bg-want_to_go_girl_flag-desktop@2x.png") right center no-repeat;
    background-size: 59.88%;
  }
}

.want-go__main {
  max-width: 946px;
  margin: 0 auto;
}

.want-go h2 {
  margin: 0 0 24px;
  font-family: "Montserrat", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 49px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #1fc0fc;
}

.want-go p {
  max-width: 400px;
  margin: 0 0 64px;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 29px;
  color: #484848;
  opacity: 0.87;
}

.want-go form {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  max-width: 477px;
}

.want-go button {
  position: absolute;
  right: 0;
  width: 216px;
}

@media (max-width: $tablet-width-only) {
  .want-go h2 {
    text-align: center;
  }

  .want-go__wrapper {
    width: 100%;
    margin: 0 auto;
    padding: 52px 5% 60%;
    box-sizing: border-box;
    background: url("../img/bg-want_to_go_girl_flag-mobile@1x.png") center bottom no-repeat;
    background-size: 60%;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background: url("../img/bg-want_to_go_girl_flag-mobile@2x.png") center bottom no-repeat;
      background-size: 60%;
    }
  }

  .want-go p {
    margin: 0 auto 24px;
  }

  .want-go form {
    display: block;
    width: 287px;
    margin: 0 auto;
  }

  .want-go button {
    position: static;
    width: 264px;
    margin: 0 auto;
  }
}

@media (max-width: $mobile-width-only) {
  .want-go__wrapper {
    padding: 52px 5% 307px;
    background-size: 320px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-size: 320px;
    }
  }

  .want-go {
    margin: 0 auto;
    padding: 0;
  }

  .want-go h2 {
    font-size: 32px;
    line-height: 39px;
  }

  .want-go p {
    font-size: 16px;
    line-height: 26px;
  }
}
